:root{
    /* colors */
    --maingreen: #71A894;
    --textblack: #303031;
    --brackgroundmain: #F9F9F9;

    /*fonts*/
    --fontRoboto: 'Roboto', sans-serif;
    --fontOpensans:'Open Sans', sans-serif;

}

